@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>goodbye</title>
</head>
<body>
    <h1>Goodbye from the goodbye.cshtml file</h1>
    <h2>It is @DateTime.Now</h2>
</body>
</html>
