@page
@model Week_1_worksheet.pages.greetingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>greeting</title>
</head>
<body>
    @Model.Message
</body>
</html>
